{% extends "base.html" %}
{% block content %}

    <h3>Hey there</h3>

    <p>I'm a web app developer at University of Central Florida. I specialize in Python and Django, but spend a good deal of time writing Javascript and CSS as well.</p>

    <p>I manage a team of part time developers building tools for distance learning. This can be similar to herding cats, but frequent Nerf wars keep the troops in line. ;)</p>

    <p>I spend my free time arguing about programming, playing games, and fussing with technology or my car. Occasionally I play racquetball.</p>

{% endblock %}
