{% extends "base.html" %}
{% block content %}

<div class="container-fluid">

  <div class="jumbotron jumbotron-fluid intro">
    <div class="container">
      <h1 class="display-4">Hi, I'm Phil Carter</h1>
      <p class="lead">I've spent over a decade professionally building software to help humans.</p>
      <hr class="my-4">
      <p>I'm currently looking for work: <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/philip-carter-77982853/" role="button">check my linkdin profile!</a></p>
    </div>
  </div>

  <div class="projects">
    <p>projects</p>
  </div>

  <div class="skills">
    <p>skills</p>
  </div>

  <div class="story">
    <p>My long story</p>
  </div>

  <div class="pitch">
    <p>Why work with me?</p>
  </div>

  <div class="contact">
    <p>email, linkdin, github</p>
  </div>

</div>


{% endblock %}
