{% extends "base.html" %}
{% block content %}

<h2><span class="glyphicon glyphicon-inbox"></span> Posts</h2>


  {% for page in pages %}
    <h3>
        <a href="{{ url_for('page', path=page.path) }}">
            {{ page.meta.title }}
        </a>
    </h3>
    <p>{{ page.meta.date }}</p>

    <div class="tags">
        {% for tag in page.meta.tags %}
            <a href="#"><span class="label label-primary">{{ tag }}</span></a>
        {% endfor %}
    </div>

    <p>{{ page.meta.blurb }}</p>

  {% endfor %}
</ul>
{% endblock %}
