/* Layout */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 300;
  background-color: #E6F0FA;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

nav ul, nav ul li {
  display: inline-block;
  list-style: none;
  margin: 20px 10px;
}

nav ul li a {
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
}

.content {
  background-color: #FFF;
}

.article-grid > h2 > a {
  text-decoration: none;
  color: #545454;
}

.article-grid  :hover {
  color: #000;
}

.tags {
  padding-bottom: 10px;
}

.tags-page-tag {
  padding-bottom: 5px;
  font-size: 16px;
}

.no-bullet {
  list-style-type: none;
}

.float-left {
  float: left;
}
