/* Layout */
.top-10 {
  margin-top: 10px;
}

/* Colors */

.white-text {
  color: white;
}

.linen {
  background-color: #FAF4E4;
}

.sunset {
  background-color: #FB8B5D;
}

.ron-burgundy {
  background-color: #B4665A;
}

.sunday-morning {
  background-color: #89BCAB;
}

.barely-blue {
  background-color: #3A444D;
}
